body {
    margin: 0px;
    font-family: Verdana;
}

.snippet-form {
  margin: 0px;
}

input {
  margin: 4px 2px;
}

input[type=submit] {
    display: block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

textarea {
  width: 50%;
  height: 130px;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  margin: 10px;
}

.user-label {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 10px;
}

.nav {
    padding-left: 5px;
    height: 50px;
    background-color: limegreen;
    display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;;
   align-items: center;
}

.nav-buttons {
    display: inline-block;
    margin-right: 20px;
}

.user-button {
    cursor: pointer;
    margin: 10px;
}

.snippet-form {
    margin: 30px;
}

.snippet-container {
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: limegreen;
    background-color: lightgray;
    margin: 20px;
    border-radius: 5px;
}

.snippet-list, .user-list {
    width: 70%;
    margin-left: 30px;
}

.user-list {
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.user {
  height: 40px;
  display: flex;
  align-items: center;
}

.user-container {
  height: 70px;
  padding: 20px;
  margin: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: limegreen;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;;
}

.user-image {
  width: 30px;
  margin: 5px;
  border-radius: 15px;
}

.file-upload {
  margin-top: 30px;
  margin-left: 30px;
}
